{% extends "binary_admin/base/base.html" %}
{% block content %}
<div class="bg-info-subtle collapse" id="collapseExample">
    <div class="container-fluid overflow-y-scroll" style=" max-height: 20vh;">
        {% for empresa in empresas %}
        <div class="container-fluid px-2 border-bottom ">
            <div class="d-flex justify-content-between ">
                <a href="" class="nav-link col-9">
                    <h1 class="text-capitalize text-truncate">{{empresa.nombre}}</h1>
                </a>
                <a href="{% url 'binary_clientes' empresa.nombre %}" class="nav-link d-inline-flex align-items-center">
                    <h2 class="bi bi-body-text "></h2>
                </a>
            </div>
            {% if empresa_actual.empresa_registrada %}
            <h3>Encargado: (contador_nombre)</h3>
            <h3>Estado:(activo,inactivo,nuevo_cliente)</h3>
            {% else %}
            <h3>Encargado: No asignado</h3>
            <h3>Estado: nuevo cliente</h3>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="d-flex flex-row" style="margin-top: 1px;">
    <div class="container-fluid col-lg-8">
        <h1><span class="placeholder col-4"></span></h1>
        <p></p>
        <p></p>
        <p></p>
        <span class="placeholder col-6"></span>
        <p></p>
        <span class="placeholder col-8"></span>
    </div>
    <div class="col-lg-4  bg-info-subtle overflow-auto d-none d-lg-block" style="height: 92.7vh;">
        {% for empresa in empresas %}
        <div class="container-fluid px-2 border-bottom ">
            <div class="d-flex justify-content-between ">
                <a href="" class="nav-link col-9">
                    <h1 class="text-capitalize text-truncate">{{empresa.nombre}}</h1>
                </a>
                <a href="{% url 'binary_clientes' empresa.nombre %}" class="nav-link d-inline-flex align-items-center">
                    <h2 class="bi bi-body-text "></h2>
                </a>
            </div>
            {% if empresa_actual.empresa_registrada %}
            <h3>Encargado: (contador_nombre)</h3>
            <h3>Estado:(activo,inactivo,nuevo_cliente)</h3>
            {% else %}
            <h3>Encargado: No asignado</h3>
            <h3>Estado: nuevo cliente</h3>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}