{% load static %}
<nav class="navbar navbar-expand-lg bg-success-subtle border-bottom border-success-subtle" style="min-height: 10vh;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}">
            <img src="{% static 'images/favicon.ico' %}" alt="Bootstrap" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cliente_main' empresa.nombre %}">usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cliente_cuentas' empresa.nombre %}">Cuentas Bancarias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'facturas' empresa.nombre %}">facturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' empresa.nombre %}">Productos</a>
                </li>
                <li>
                    <button class="collapse btn btn-success" id="navbarTogglerDemo02" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                        Clientes
                    </button>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2 border-success-subtle " type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>